.profile {
  display: flex;
  flex-direction: row;
}

.profile__plus-icon {
  height: 12px;
  width: 12px;
  margin: 20px 0 20px 32px;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  border-radius: 8px;
  margin-right: 20px;
}

.profile__name {
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #212121;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0;
}

.profile__description {
  margin: 0;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  opacity: 70%;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn {
  margin-top: auto;
  border: none;
  background: transparent;
  display: flex;
  align-items: flex-start;
  padding: 0;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  color: #212121;
  opacity: 70%;
  line-height: 1;
  transition: 0.4s;
}

.profile__edit-btn:hover {
  color: #000;
  cursor: pointer;
  opacity: 1;
}

.profile__pencil-icon {
  padding: 0 8px 0 0;
}

.profile__post-btn {
  width: 157px;
  height: 52px;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-left: auto;
  padding: 18px 32px 18px 0;
  border: none;
  align-self: end;
  gap: 8px;
  white-space: nowrap;
  transition: 0.4s;
  line-height: 1;
}

.profile__post-btn:hover {
  opacity: 80%;
  cursor: pointer;
}

.profile__button-text {
  margin: 0;
  padding: 18px 32px 18px 0;
}

@media screen and (max-width: 667px) {
  .profile {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 288px;
    padding-bottom: 20px;
  }

  .profile__avatar {
    margin: 0;
    height: 80px;
    width: 80px;
  }

  .profile__column {
    gap: 0;
    padding-bottom: 20px;
  }

  .profile__name {
    margin: 12px 0 6px;
    max-width: 288px;
    font-size: 20px;
  }

  .profile__description {
    max-width: 288px;
  }

  .profile__edit-btn {
    margin: 32px 0 0;
    justify-content: center;
  }

  .profile__post-btn {
    margin: 0 auto;
    width: 100%;
  }
}
